@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  src: url("../fonts/200.woff2") format("woff2"),
    url("../fonts/200.woff") format("woff");
}

@font-face {
  font-family: "Amazon Ember";
  font-weight: 400;
  src: url("../fonts/400.woff2") format("woff2"),
    url("../fonts/400.woff") format("woff");
}

@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  src: url("../fonts/500.woff2") format("woff2"),
    url("../fonts/500.woff") format("woff");
}

@font-face {
  font-family: "Amazon Ember";
  font-weight: 700;
  src: url("../fonts/700.woff2") format("woff2"),
    url("../fonts/700.woff") format("woff");
}
