section {
  article.image {
    height: unset;
    width: 40%;
    background: unset;

    @media (max-width: 425px) {
      width: 100%;
    }
  }

  article.content {
    padding: 4rem;
    width: 60%;

    @media (max-width: 425px) {
      width: 100%;
    }

    h2 {
      font-size: 3rem;
    }
  }
}
